@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-inter);
    --font-sans-fallback: 'InterVariable', 'Inter', -apple-system,
      BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    --site-header-height: 60px;
    --search-bar-height: 0px;

    --header-gap: calc(var(--site-header-height) + var(--search-bar-height));
    --cars-page-main-content-height: calc(100dvh - var(--header-gap));
    --map-container-height: var(--cars-page-main-content-height);
    --cars-page-main-content-max-width: 1184px;

    --car-page-main-content-padding-y: 32px;
    --card-reserve-width: 370px;
    --card-reserve-top-offset: calc(
      var(--site-header-height) + var(--car-page-main-content-padding-y)
    );

    --modal-max-width: 780px;
    --modal-header-height: 64px;
    --modal-footer-height: 80px;
    --modal-viewport-gap: 80px;
    --modal-content-max-height: calc(
      100dvh - var(--modal-header-height) - var(--modal-footer-height) -
        var(--modal-viewport-gap)
    );
  }

  /* Tailwind lg size screen */
  @media screen and (min-width: 1128px) {
    :root {
      --search-bar-height: 70px;
    }
  }

  html,
  body {
    font-family: var(--font-sans), var(--font-sans-fallback);
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    font-synthesis-weight: none;
    font-feature-settings:
      'liga' 1,
      'calt' 1;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 360px;
    touch-action: manipulation;
    @apply tabular-nums;
  }
  body {
    overscroll-behavior-y: contain;
    font-size: 100%;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background-color: white;
    overflow-x: hidden;
  }

  a {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
  }

  strong {
    font-weight: 600;
    color: theme('colors.neutral.900');
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}
