@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --total-brand: 16;
    --logo-width: 10rem;
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 3);
    --site-header-height: 56px;
    --search-height: 110px;
    --site-header-and-search-offset: calc(
      var(--site-header-height) + var(--search-height)
    );
    --cars-page-main-content-height: calc(
      100vh - var(--site-header-and-search-offset)
    );
    --map-height: var(--cars-page-main-content-height);
    --filters-header-height: 64px;
    --filters-footer-height: 80px;
    --filters-viewport-offset: 80px;
    --filters-content-height: calc(
      100dvh - var(--filters-header-height) - var(--filters-footer-height) -
        var(--filters-viewport-offset)
    );
  }

  html,
  body {
    /* Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom */
    touch-action: manipulation;
    min-width: 360px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    overscroll-behavior-y: contain;
  }

  strong {
    font-weight: 500;
    color: theme('colors.neutral.900');
  }

  /* https://bugs.webkit.org/show_bug.cgi?id=243601
  https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  Safari 15 and 16 display a gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
}

@layer utilities {
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    box-shadow: 9999px 0 0 -5px;
    animation: theme('animation.dot-pulse');
    animation-delay: 0.25s;
  }
  .dot-pulse::before,
  .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
  }
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: theme('animation.dot-pulse-before');
    animation-delay: 0s;
  }
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: theme('animation.dot-pulse-after');
    animation-delay: 0.5s;
  }
}
