@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body,
  html {
    @apply font-sans;
    font-feature-settings: "pnum", "lnum";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply relative min-h-full m-0 bg-black text-white break-words;
    max-width: 100vw;
  }

  p {
    @apply leading-7 text-slate-400;
  }
}
