@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply relative min-h-full m-0 bg-black text-white;
  max-width: 100vw;
}

p {
  @apply leading-7 text-slate-300;
}

p.big,
span.big {
  @apply text-xl leading-9;
}

p.bigger,
span.bigger {
  @apply text-2xl leading-10;
}

.AccordionTrigger {
  @apply w-full flex flex-row items-center justify-between py-4;
}

.AccordionChevron,
.chevron {
  @apply h-6 w-6 stroke-current text-neutral-200 align-middle;
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}
