@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply font-sans;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply relative min-h-full m-0 bg-black text-slate-100 break-words;
  max-width: 100vw;
}

p {
  @apply leading-7 text-slate-300;
}

p.big,
span.big {
  @apply text-xl leading-9;
}

p.bigger,
span.bigger {
  @apply text-2xl leading-10;
}

.accordionTrigger {
  @apply w-full flex flex-row items-center justify-between gap-x-10 py-4;
}

.accordionChevron,
.collapsibleChevron {
  @apply h-5 w-5 flex-shrink-0 stroke-current text-neutral-400 align-middle;
}

.accordionTrigger[data-state="open"] > .accordionChevron {
  transform: rotate(180deg);
}

.collapsibleTrigger[data-state="open"] > .collapsibleChevron {
  transform: rotate(180deg);
}

.sliderRoot {
  @apply relative flex items-center w-full;
  user-select: none;
  touch-action: none;
}
.sliderRoot[data-orientation="horizontal"] {
  height: 20px;
}
.sliderRoot[data-orientation="vertical"] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.sliderTrack {
  @apply relative bg-neutral-700 rounded-full flex-grow;
}
.sliderTrack[data-orientation="horizontal"] {
  height: 3px;
}
.sliderTrack[data-orientation="vertical"] {
  width: 3px;
}

.sliderRange {
  @apply absolute h-full bg-white rounded-full;
}

.sliderThumb {
  @apply block bg-white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.sliderThumb:hover {
  @apply ring-2 ring-neutral-300;
}
.sliderThumb:focus {
  @apply outline-none ring-2 ring-neutral-300;
}
